body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right , #051937, #004d7a, #008793, #00bf72, #a8eb12);
  color: #e7e5e5
}

h1 {
  /* color: rgb(0, 94, 102); */
  font-family: 'Playfair Display SC', serif;
  text-shadow: 2px 2px 4px #000000;
  font-size: 3em !important;
}

@media screen and (min-width: 30em) {
  h1 {
    font-size: 4em !important;
  }
}

footer {
  height: 100px;
}

@media screen and (min-width: 30em) {
  footer {
    height: 0px !important;
  }
}

button {
  outline: none !important;
}